<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{#if showTitle}}
    <h1>CIoa</h1>
    {{/if}}

    {{foo}}


    <input type="file" name="" id="file-selector" accept=".json">
    <input type="submit" value="c" onclick="sendFile()">


    <script src="js/index.js"></script>

</body>

</html>