<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{#if alreadyExists}}
    <h1>Esiste gia un progetto con questo nome</h1>
    {{/if}}



    <form action="/sendFile" method="post">
        <input type="file" name="file" id="file-selector" accept=".json">
        <input type="text" name="file-content" id="file-content" readonly hidden>
        <input type="submit" value="c">
    </form>


    <script src="js/index.js"></script>

</body>

</html>