/**
  Default Markup
**/

body {
    background: #F0E5E1;
}

.container {
    width: 100%;
    display: flex;
}


/**
Component
**/

label {
    width: 100%;
}

.card-col {
    width: 400px;
}

.card-input-element {
    display: none;
}

.card-header,
.card-body {
    margin: auto;
    padding: 10px 5px 0px 5px;
}

.card-header {
    text-align: center;
}

.card-body {
    height: 200px;
}

.card-body img {
    width: 100%;
}

.card-input {
    background-color: white;
    margin: 10px;
    border-radius: 7px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}