/**
  Default Markup
**/

body {
    background-attachment: fixed;
    background-image: linear-gradient(#fff, #6dd5fa, #2980b9, #000);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


/**
Component
**/

label {
    width: 100%;
}

.card-col {
    width: 400px;
}

.card-input-element {
    display: none;
}

.card-header,
.card-body {
    margin: auto;
    padding: 10px 5px 0px 5px;
}

.card-header {
    text-align: center;
}

.card-body {
    height: 200px;
}

.card-body img {
    width: 100%;
}

.card-input {
    background-color: white;
    margin: 10px;
    border-radius: 7px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}

.input_container {
    /* border: 1px solid #e5e5e5; */
    margin: 1%;
}

input[type=file]::file-selector-button {
    display: none;
    
}

input[type=file]{
    justify-content: center;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#preview-btn {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 15px;

    transition: visibility .3s, opacity .3s linear;
    visibility: hidden;
    opacity: 0;
}

#preview-header {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

#exit:hover {
    cursor: pointer;
}

#preview-img-div {
    position: relative;
    margin: auto;
    overflow: scroll;
    max-width: 95%;
}

#preview img {
    position: relative;
    height: 50%;
}

.scrolling-container {
    width: 95%;
    height: 80%;
    overflow-y: scroll;
}



/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 5px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}




/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #000;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #918585, #c2b3b3, #fff, #6dd5fa, #2980b9, #073283,#002bff, #254a6d, #404e6e);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

label.button-85{
    width: 69%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    color: gainsboro;
}